<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>

<h1>Lista de Produtos</h1>


<form th:action="@{/web/produtos/lista}" method="get">
    <label>Buscar por Nome:</label>
    <input type="text" name="nome" placeholder="Digite o nome">
    <button type="submit">Buscar</button>
</form>

<br>


<form th:action="@{/web/produtos/lista}" method="get">
    <label>Buscar por Preço:</label>
    <input type="number" step="0.01" name="preco" placeholder="Digite o preço">
    <button type="submit">Buscar</button>
</form>

<br>
<a th:href="@{/web/produtos/lista}">Limpar busca (Mostrar Todos)</a>

<br><br>


<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço (R$)</th>
        <th>Data de Fabricação</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="produto : ${produtos}">
        <td th:text="${produto.id}"></td>
        <td th:text="${produto.nome}"></td>
        <td th:text="${produto.preco}"></td>

        <td th:text="${#dates.format(produto.dataFabricacao, 'dd/MM/yyyy')}"></td>
    </tr>

    <tr th:if="${#lists.isEmpty(produtos)}">
        <td colspan="4">Nenhum produto encontrado.</td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/}">Voltar ao menu</a>

</body>
</html>